[Unit]
Description=Tuanzi Photo Backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
SupplementaryGroups=spi gpio
WorkingDirectory=%h/tuanzi-photo/release
ExecStart=/usr/bin/node --max-old-space-size=128 backend/app.js
Restart=always
RestartSec=3
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
